@import "tailwindcss";

:root {
  --color-page: #FFFFFF;
  --color-surface: #F9FAFB;
  --color-main-text: #1A1A1A;
  --color-muted-text: #6B7280;
  --color-border: #E5E7EB;
  --color-brand: #1D4ED8;
  --color-brand-hover: #1E40AF;
}

.dark {
  --color-page: #0B1120;
  --color-surface: #1E293B;
  --color-main-text: #F8FAFC;
  --color-muted-text: #94A3B8;
  --color-border: #334155;
  --color-brand: #1D4ED8;
  --color-brand-hover: #1D4ED8;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Outfit", sans-serif;
  --color-page: var(--color-page);
  --color-surface: var(--color-surface);
  --color-main-text: var(--color-main-text);
  --color-muted-text: var(--color-muted-text);
  --color-border: var(--color-border);
  --color-brand: var(--color-brand);
  --color-brand-hover: var(--color-brand-hover);
}